page-ipark-loading {
    ion-content {
        background-image: url("../assets/ipark/image/splash.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}