page-signup-service {
    ion-content.content {
        background-color: #1B3951;
    }
    .a-btn-back {
        position: absolute;
        top: 5px;
        left: 5px;
        img {
            max-width: 50%;
        }
    }
    .a-top {
        position: relative;
        height: 50%;
        width: 100%;
        text-align: center;
        img {
            max-width: 20%;
        }
    }
    .a-name {
        span {
            color: white;
            font-weight: bold;
            font-size: 9vw;
        }
    }
    // .scroll-content {
    //     align-content: center;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     text-align: center;
    //     padding: 0px !important;
    // }
    .a-sign-service-container {
        // width: 80%;
        height: 50%;
        text-align: center;
        width: 100%;
        .btn {
            width: 80%;
            margin: auto;
            padding: 10px;
            height: 4rem;
        }
    }
}